@font-face {
    font-family: "HarmonyOS_Sans_SC_Regular";
    src: url(/fonts/HarmonyOS_Sans_SC_Regular.ttf) format("truetype");
}

@font-face {
    font-family: "JetBrainsMono-Medium";
    src: url(/fonts/JetBrainsMono-Medium.ttf) format("truetype");
}
